nav {
    display: flex;
    align-items: center;
    background-color: black;
    min-height: 40px;
}

nav a {
    color: white;
    margin-right: 30px;
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier (0.4, 0, 0.2, 1);
} 
    
nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #00bcd4;
    transition: width 250ms cubic-bezier (0.4, 0, 0.2, 1);
}
    
nav a:hover {
    color: #00bcd4;
}
    
nav a:hover::after {
    width: 100%;
} 

.inf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 130px;
}

.btn-order {
    display: flex;
    justify-content: center;
}

.btn-order button {
    background-color: #00bcd4;
    color: aliceblue;
    border: none;
    padding: 10px;
    transition: all 0.4s ease;
}

.btn-order button:hover {
    background-color: #24a6bd; 
    transform: scale(1.15);    
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.card {
    background: white;
    padding: 40px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: transform 0.3s;
    font-weight: bold;
    font-size: 20px;
}

.card:not(.box):hover {
    transform: scale(1.2);
}

.box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;

    transform: translateY(100%);
    transition: transform 250ms ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover .overlay {
    transform: translateY(0);
}

.overlay p {
    color: #fff;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer i {
    color: white;
    font-size: 30px;
    transition: transform 0.5s;
}

footer i:hover {
    transform: rotate(360deg);
}